

  #maxmenu-menuContainer .close {
    color: rgb(189, 189, 189);
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #00000000;
  }
  
  #maxmenu-menuContainer .close:hover,
  #maxmenu-menuContainer .close:focus {
    color: rgb(97, 97, 97);
    text-decoration: none;
    cursor: pointer;
  }


  #maxmenu-menuContainer .container-traducir {

      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 15px auto;
     
      
  }

  #maxmenu-menuContainer #BtnTranslateMenu {
     
      background-color: rgba(255, 255, 255, 0);
      border: none;
      cursor: pointer;
  }


  #maxmenu-menuContainer .modal-content {
    text-align: center; /* Centra el contenido textual como los títulos */
}

#maxmenu-menuContainer #idiomasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: #00000000;
}

#maxmenu-menuContainer .idioma-btn , #maxmenu-menuContainer .modal-content button[type="submit"]  {
    /* Estilos comunes para todos los botones */
    display: flex;
    margin: 5px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 5px solid rgba(235, 235, 235, 0.746);
    border-radius: 100px;
    cursor: pointer;
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    align-items: center;
    justify-content: center;

}

#maxmenu-menuContainer form.form-flag {
    display: flex;
}
  
#maxmenu-menuContainer .form-flag button , #maxmenu-menuContainer .idioma-btn button {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 5px solid rgba(235, 235, 235, 0.746);
    border-radius: 100px;
    cursor: pointer;
    width: 240px;
    min-width: 240px;
    max-width: 240px;

  }
  
  #maxmenu-menuContainer img.idioma-btn-flag {
    border-radius: 100px;
    width: 40px;
    height: 40px;
  }
  
  #maxmenu-menuContainer .idioma-btn:hover , #maxmenu-menuContainer .modal-content button[type="submit"]:hover , #maxmenu-menuContainer .form-flag button:hover {
    background-color: #e7e7e7;
}

  #maxmenu-menuContainer form {
      margin: 0; /* Remueve cualquier margen predeterminado del formulario */
      display: flex;
      justify-content: center; /* Centra el botón dentro del formulario */
  }
