

  
  #maxmenu-menuContainer .glovo , #maxmenu-menuContainer .uber , #maxmenu-menuContainer .justeat , #maxmenu-menuContainer .deliveroo , #maxmenu-menuContainer .doordash {
    display: inline-block; /* Esto permite aplicar padding */
    padding: 6px 20px;
    background-size: cover; /* Esto asegura que la imagen de fondo cubra todo el botón */
    background-position: center; /* Centra la imagen de fondo */
    text-decoration: none; /* Elimina el subrayado del enlace, si es necesario */
    color: #ffffff; /* Cambia el color del texto, si es necesario */
    margin: 10px auto;
    width: 30px;
    background-color: hsla(0, 0%, 100%, 0.478);
  
  }
  
  #maxmenu-menuContainer .glovo {
    background-image: url('menu/img/plataformas/glovo-2.png'); /* Reemplaza con la URL de tu imagen de fondo deseada */
  }
  #maxmenu-menuContainer .uber {
    background-image: url('menu/img/plataformas/uber-eats.png'); /* Reemplaza con la URL de tu imagen de fondo deseada */
  }
  #maxmenu-menuContainer .justeat  {
    background-image: url('menu/img/plataformas/justeat.png'); /* Reemplaza con la URL de tu imagen de fondo deseada */
  }
  #maxmenu-menuContainer .deliveroo {
    background-image: url('menu/img/plataformas/deliveroo.png'); /* Reemplaza con la URL de tu imagen de fondo deseada */
  }
  #maxmenu-menuContainer .doordash {
    background-image: url('menu/img/plataformas/doordash.png'); /* Reemplaza con la URL de tu imagen de fondo deseada */
  }

  

  
  
  #maxmenu-menuContainer .plataformas{
 
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);

    
  }
  
  #maxmenu-menuContainer .plataformas .menu-plataformas{
    width: 100%;
    max-width: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    margin: 5px ;
    background-color: rgba(0, 0, 0, 0);
  }
  

  #maxmenu-menuContainer .categorias .categoria form input {
    color:  #ff0000;
    align-items: center;
    border: 5px solid  #ff0000;
    border-radius: 30px;
    cursor: pointer;
 
  
  
  }

  
  
  /* Añade reglas adicionales para otras plataformas según sea necesario */
  
  #maxmenu-menuContainer .visitar-btn {
   
    background-size: cover; /* O contain, dependiendo del aspecto deseado */
    text-align: center; /* Para centrar el texto */
    line-height: 50px; /* Ajusta esto al tamaño de tu botón para centrar el texto verticalmente */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    padding: 16px 35px;
    background-color: #ffffff7a;
  }
  
  
  
  #maxmenu-menuContainer .visitar-btn.uber {
    background-image: url('../img/plataformas/uber-eats.png');
    object-fit: contain;
    background-color: #ffffff7a;

  }
  
  #maxmenu-menuContainer .visitar-btn.glovo {
    background-image: url('../img/plataformas/glovo1.png');
    object-fit: contain;
    background-color: #ffffff7a;
  
  
  }
  
  #maxmenu-menuContainer .visitar-btn.justeat {
    background-image: url('../img/plataformas/justeat.png');
    object-fit: cover;
    
  }
  
  #maxmenu-menuContainer .visitar-btn.deliveroo {
    background-image: url('../img/plataformas/deliveroo.png');
    object-fit: cover;
  
  }

    
  #maxmenu-menuContainer .visitar-btn.doordash {
    background-image: url('../img/plataformas/doordash.png');
    object-fit: cover;
  
  }
  

  
  #maxmenu-menuContainer form h2  {
    text-align: center;
  
  }
  
  
  #maxmenu-menuContainer .platform a.boton img {
    object-fit: cover;
    height: 25px; 

  }
  
  
  